.autocomplete{
    position: relative;

    .result{
        position: absolute;
        background: white;
        width: 100%;
        ul{
            border: 1px solid #efefef;
            padding: 0;
            margin: 0;
            list-style-type: none;
            max-height: 200px;
            overflow-y: scroll;
            box-shadow: 0 1px 6px #eaeaea;
            li{
                padding:8px;
                border-bottom: 1px solid #efefef;
                cursor: pointer;

                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }
}